body {
  background-color: #FFDC74;
}
.InputScreen {
  /*default input screen*/
  width:500px;
  height:100vh;
  margin:0 auto;
  background-color: #FFDC74;
}
.InputContainer {
  width:100%;
  margin-top: 200px;
  height:400px;

  display:inline-block;
  /* input screen item container*/
}
.PrefaLogo {
  width:100%;
  height:375px;

  /*prefa logo*/
}
.InputBar {
  width: 100%;
  height: 100px;
  padding-top: 20px;

  /*input bar.text input and button*/
}
.ResultScreen {
  max-width: 100%;
  max-height: 100%;
  background-color: #FFFFFF;
  /*result screen*/
}
.InputNaviBar {
  width: 100%;
  height: 55px;
  background-color: #C2E0BA;
  /*input navi bar*/
}

.ResultContainer {
  width: 75%;
  margin: 0 auto;
  /*keyword result container*/
}
.KeywordInfoBar {
  width: 100%;
  height:200px;
  background-color: #FFDC74;
  /*keyword info bar*/
}

.SentimentBarContainer {
  width: 100%;
  height: 50px;
  margin-top: 70px;
  margin-bottom: 80px;
  /*sentiment bar*/
}

.SentimentBarLikes {
  width: 15%;
  height: 50px;
}
.SentimentBarDislikes {
  width: 15%;
  height: 50px;
}
.SentimentProgressBar {
  margin-top: 20px;
  width: 70%;
}

.ArticleContainer {
  /*article*/
  width:100%;
  height:1000px;
}
.LikesArticle {
  float: left;
  width: 50%;
  height: 1000px;
  background-color: #FFBDBD;
  /*likes article*/
}
.DislikesArticle {
  float: right;
  width: 50%;
  height: 1000px;
  background-color:#9197B5;
  /*dislikes article*/
}