<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
<script src="bower_components/angular/angular.min.js"></script>
<!--FFDC74-->
<div class="is">
    <div class="isc">
        <div class="pl">
            <img src="images/dtd.png" width="500" height="375">
        </div>
        <form class="form-inline ib">
            <input type="text" class="form-control" placeholder="리뷰주제를 입력하세용" style="width:450px">
            <button type="button" class="btn btn-warning">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </form>
    </div>
</div>
<!--
<div class = "rs">
    <div class = "inb">
    </div>
    <div class = "kib">
    </div>
    <div class = "krc">
        <div class = "sb">
        </div>
        <div class = "art">
            <div class = "la">
            </div>
            <div class = "dla">
            </div>
        </div>
    </div>
</div>
-->
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="javascripts/module.js"></script>
<script src="javascripts/controller.js"></script>
</body>
</html>
