<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="bower_components/angular/angular.min.js"></script>
</head>
<body ng-app="prefa" ng-controller="changeScreen">
<!--FFDC74-->
<div class="InputScreen" ng-show="firstScreenSeen">
    <div class="InputContainer">
        <div class="PrefaLogo">
            <img src="images/dtd.png" width="500" height="375">
        </div>
        <form class="form-inline InputBar">
            <input type="text" class="form-control" placeholder="리뷰주제를 입력하세용" style="width:450px">
            <button type="button" class="btn btn-warning" ng-click="toggle()">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </form>
    </div>
</div>

<div class="ResultScreen" ng-hide="firstScreenSeen">
    <div class="InputNaviBar">
    </div>
    <div class="ResultContainer">
        <div class="KeywordInfoBar">
        </div>

        <div class="row">
            <div class="SentimentBarContainer">
                <div class="SentimentBarLikes col-xs-2">
                </div>

                <div class="SentimentProgressBar col-xs-8">
                    <div class="progress">
                        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
                             aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
                            ㅇㅅㅇ%
                        </div>
                    </div>
                </div>

                <div class="SentimentBarDislikes col-xs-2">
                </div>
            </div>
        </div>
        <div class="ArticleContainer">
            <div class="LikesArticle">
            </div>
            <div class="DislikesArticle">
            </div>
        </div>
    </div>
</div>

<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="javascripts/module.js"></script>
<script src="javascripts/controller.js"></script>
</body>
</html>
