<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">

  </head>
  <body>
  <script src="bower_components/angular/angular.min.js"></script>



  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="javascripts/module.js"></script>
  <script src="javascripts/controller.js"></script>
  </body>
</html>
